# API Auth
INTERNAL_API_KEY=
INTERNAL_ALLOWED_IPS=

AUTH_TOKEN=
SASS_WARNINGS=
JWT_SECRET=
HCAPTCHA_SECRET=

API_URL="http://localhost:3000/api/"
# Plugin
PLUGIN_AUTH_TOKEN=

# MongoDB
MONGODB_URI=

# Voting Plugin
VOTING_DB_HOST=
VOTING_DB_PORT=
VOTING_DB_USER=
VOTING_DB_PASSWORD=
VOTING_DB_NAME=
VOTING_DB_TABLE=

# Tebex
TEBEX_PUBLIC_API_KEY=
TEBEX_PRIVATE_API_KEY=
TEBEX_SECRET_KEY=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_REGION=
CDN_URL=

# Next-Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# General

SITE_URL=
TITLE=
SITE_DESCRIPTION=
MAP=
STAFF_ROLES=

COMP_NAME=
SERVER_TAP_KEY=
SERVER_TAP_URL=


# Turnstile

NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Imgur

IMGUR_CLIENT_ID=
IMGUR_CLIENT_SECRET=
IMGUR_REFRESH_TOKEN=

# TipTap

TIPTAP_PRO_TOKEN=
NEXT_PUBLIC_TIPTAP_COLLAB_APP_ID=
TIPTAP_COLLAB_SECRET=
NEXT_PUBLIC_COLLAB_DOC_PREFIX=doc_
NEXT_PUBLIC_TIPTAP_AI_APP_ID=
TIPTAP_AI_SECRET=